<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Rumput Tetangga</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans">
    <link rel="shortcut icon" href="{{url_for('static', filename = 'grass.png' )}}">
    <style>
        body {
            font-family: "Open Sans";
            margin: 0px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" style="text-align:left; padding-left:183px" href="{{ url_for('home')}}"><b>Rumput Tetangga</b></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" style= "padding-right:150px">
                    <li role="presentation" class="active"><a href="{{ url_for('home')}}">Home</a></li>
                    <li role="presentation"><a href="{{ url_for('product_page')}}">Products</a></li>
                    <li role="presentation"><a href="{{ url_for('profile')}}">Profile</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <div style = "padding-top:150px">
            <h1 style="text-align:left; padding-left:183px"><b>Good Afternoon, {{name}}!<b> </h1>
            <h2 style="text-align:left; padding-left:183px">Ready to work?</h2>
            <p style="text-align:left; padding-left:183px; padding-top: 15px">
                <a href="{{ url_for('product_page')}}" class="btn btn-success">See Products</a>
                <a href="{{ url_for('logout')}}" class="btn btn-default">Log Out</a>
            </p>
        </div>
    </div>
</body>
</html>
