<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Rumput Tetangga</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans">
    <link rel="shortcut icon" href="{{url_for('static', filename = 'grass.png' )}}">
    <style>
        body {
            font-family: "Open Sans";
            margin: 0px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" style="text-align:left; padding-left:183px" href="{{ url_for('home')}}"><b>Rumput Tetangga</b></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" style= "padding-right:150px">
                    <li role="presentation"><a href="{{ url_for('home')}}">Home</a></li>
                    <li role="presentation"><a href="{{ url_for('product_page')}}">Products</a></li>
                    <li role="presentation" class="active"><a href="{{ url_for('profile')}}">Profile</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style = "padding-top:150px">
        <div class="row">
            <div class="col md-12">
                    <h3><b>Full Name<b></h3>
                    <h5>{{name}}</h5>
                    <h3><b>Email<b></h3>
                    <h5>{{email}}</h5>
                    <p style="padding-top: 15px">
                        <a href="{{ url_for('product_page')}}" class="btn btn-success">See Products</a>
                        <a href="{{ url_for('logout')}}" class="btn btn-default">Logout</a>
                    </p>
                </div>
            </div>
        </div>
</body>
</html>
